==
<hr/>
<section id="services" class="section">
    <div class="container-fluid">
        <div class="row text-center mb-5">
            <div class="col">

                <div class="overflow-hidden mb-2">
                    {% component 'contenteditor' file="chucnang1.htm" %}                  
                </div>
            </div>
        </div>
        <div class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
            <div class="col-lg-6 col-xl-8 p-0">
                <div class="content-grid">
                    <div class="row content-grid-row border border-left-0 border-right-0">
                        <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                            <div class="icon-box icon-box-style-7">
                                <div class="icon-box-icon border-0">
                                    <span><img src="{{ 'chucnang/icon-danhgia.png'|media }}"></span>
                                </div>
                                <div class="icon-box-info">
                                   {% component 'contenteditor2' file="chucnang-canhbaosomATT.htm" %}
                                </div>
                            </div>
                        </div>
                        <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                            <div class="icon-box icon-box-style-7">
                                <div class="icon-box-icon border-0">
                                    <span>
                                         <span><img src="{{ 'chucnang/icon-giamsat.png'|media }}"></span>
                                    </span>
                                </div>
                                <div class="icon-box-info">                  
                                    {% component 'contenteditor' file="chucnang-giamsatATT.htm" %}
                                </div>
                            </div>
                        </div>
                        <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                            <div class="icon-box icon-box-style-7">
                                <div class="icon-box-icon border-0">
                                    <span><img src="{{ 'chucnang/icon-shield.png'|media }}"></span>
                                </div>
                                <div class="icon-box-info">
                                
                                    {% component 'contenteditor' file="chucnang-danhgiaATT.htm" %}
                                </div>
                            </div>
                        </div>
                        <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                            <div class="icon-box icon-box-style-7">
                                <div class="icon-box-icon border-0">
                                    <span><img src="{{ 'chucnang/icon-warning.png'|media }}"></span>
                                </div>
                                <div class="icon-box-info">
                                
                                  {% component 'contenteditor' file="chucnang-xulytancongmang.htm" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-lg-6 col-xl-4  " data-plugin-image-background data-plugin-options=><img class= "w-100 h-100"src="{{ 'chucnang/cn-04.jpg'|media }}"></div></div>
        
        </div>
    </div>
</section>